// $maincontainer:1200px;
// $section-padding:20px; 

// body{
  
//   background-color: $blue;

//   background-color: red;
//   color: $darkgray;
//   font-family: 'Rokkitt', serif;
//   line-height:1.6;
//   color: black;
//   background-color: #fff;
// }

// h1{ 
//   font-size: 40px;
//   color:$yellow;
//   padding: 20px;
//   font-family: 'Francois One', sans-serif;
    
// }

// h2, h3 {
//   font-size: 20px;
//   color:$yellow;
//   padding: 20px;
//   font-family: 'Francois One', sans-serif;
// }
    
// .maincontainer{
//   max-width:$maincontainer;
//   margin: auto;
//   padding: 0 20px;
// }

// header{ 
//   background-color: $lightblue;
//   width: 1200px;
// }    
              
// img{min-width: 100%;}   
        
         
        
// nav{ height: 40px;
// background-color:$gray;
// ul{ list-style:none;}
       
// li{display: inline;}
       
// a{color:$blue;}
       
// section{padding: $section-padding;
       
//        h1{margin-bottom: 30px;}
//        }
     
//       .section-b{@extend .section;
//       background-color:$blue;
//        color:$gray;}
      
//       .section-c{@extend .section;
//                    background-color: $yellow;
//                    color:$gray;}
                   
//        .button{ padding: 10px 15px;}
       
//        .button-a{@extend .button;}            
      
      
