//Colors/////

$blue: #00172e;
$yellow:#ffff66;
$gray:#cccccc;
$lightgray: #999999;
$mediumgray: #666666;
$darkgray: #333333;

$footer-text-color:rgb(255, 255, 255);
$text-color: rgb(4, 68, 243);
$shadow-color: rgb(10, 232, 240);

$banner-blue: rgba(28, 100, 235, 0.904);
$accent: rgba(248, 244, 203, 0.61);
$wrapper-bg-color: white;
$color-body:rgba(204, 214, 235, 0.753);
$background:rgba(150, 216, 241, 0.842);

//font-types
$body-font: 'Sawarabi Mincho', sans-serif;
$heading-font: 'Bree Serif', serif;

// Typographic Defualts
$line-height: 1.6;

// Layout variables
$padding: 20px;
// Grid Values
$gutter: 2;

// Function to determine column width
// takes two numerical parameters:
// $c -> the number of columns in a row
// $g -> the gutter amount
@function colWidth($c, $g: 2){
    @return ((100 - $g * ($c - 1)) / $c) * 1%;
}

$one-col: 100%;
$two-col: colWidth(2);
$three-col: colWidth(3);

// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$desktopMedium: em(1250);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$tabletFooter: em(710);
$phoneLandscape: em(670);
$phoneheader: em(600);
$phoneMedium: em(530);
$phonePortrait: em(460);

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';




